version: "3.9"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=${VITE_API_BASE_URL}
    container_name: dinochomp_frontend
    ports:
      - "80:8080"
    restart: always
    env_file:
      - .env
    environment:
      - NODE_ENV=production
