.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: #3e2723;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

.board-row {
    display: flex;
    gap: 2px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.image-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s ease;
}

.image-button img {
    width: 200px;
    height: auto;
    image-rendering: pixelated;
}

.image-button:hover {
    transform: scale(1.1);
    border: none;
}

.image-button:focus {
    outline: none;
    box-shadow: none;
}