.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: #3e2723;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

.board-row {
    display: flex;
    gap: 2px;
}