/* Elimina márgenes y scroll del documento */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black; 
}

/* Contenedor principal*/
.home-container {
  position: fixed;         
  top: 0;
  left: 0;
  width: 100vw;             /* ocupa todo el ancho */
  height: 100vh;            /* ocupa todo el alto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* Fondo */
  background-image: url('../../public/resources/DinoFondo.png');
  background-repeat: no-repeat;
  background-size: cover;   /* cubre toda la pantalla */
  background-position: center center; /* centra el fondo horizontal y verticalmente */
}

/* Imagen del nombre del juego */
.home-name {
  width: 400px;
  height: auto;
  margin-bottom: 1.5rem;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.6));
}

/* Logo principal */
.home-logo {
  width: 180px;
  height: auto;
  margin-bottom: 2rem;
}

/* Botón de inicio */
.home-button {
  background-color: #8443da;
  color: white;
  border: none;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.home-button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}
