/* Elimina márgenes y scroll del documento */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black; 
}

/* Contenedor principal*/
.home-container {
  position: fixed;         
  top: 0;
  left: 0;
  width: 100vw;             /* ocupa todo el ancho */
  height: 100vh;            /* ocupa todo el alto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Imagen del nombre del juego */
.home-name {
  width: 400px;
  height: auto;
  margin-bottom: 1.5rem;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.6));
}

/* Logo principal */
.home-logo {
  width: 180px;
  height: auto;
  margin-bottom: 2rem;
}

/* Botón de inicio */
.home-button {
  background-color: #8443da;
  color: white;
  border: none;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.home-button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

/* Formulario de autenticación */
.auth-form {
  padding: 2rem;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-form h2 {
  color: #8443da;
  margin-bottom: 1rem;
    font-size: 3.0rem;
}

.auth-form input {
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.auth-error {
  color: #ff6b6b;
  margin-top: 0.5rem;
}

.auth-message {
  color: #84fab0;
  margin-top: 0.5rem;
}

.toggle-auth-button {
  background: none;
  border: none;
  color: Black;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.0rem;
  margin-top: 1rem;
}

.toggle-auth-button:hover {
  color: #af0000;
}
